<template name="ssf">
	<!-- <h1>Student Service and Facilities</h1> -->

	{{#contentFor "headerButtonLeft"}}
    {{>ionNavBackButton path="handbook"}}
  {{/contentFor}}

  {{#contentFor "headerTitle"}}
    <h1 class="title">Student Service and Facilities</h1>
  {{/contentFor}}
  

  {{#ionView}}
    {{#ionContent}}
      
<!-- 
        <h1>Student Service and Facilities</h1> -->

        {{#ionItem path="ssfadmission" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Admission and Testing Office</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}


          {{#ionItem path="ssfavc" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Audio Visual Room</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}


          {{#ionItem path="ssfdata" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Data Center</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}


          {{#ionItem path="ssfethno" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Ethno-Cultural Museum</h2>           
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}


          {{#ionItem path="ssfextension" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Extension Services</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}


          {{#ionItem path="ssfgate" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Gate Pass</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}

          {{#ionItem path="ssfguidance" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Guidance and Counseling Office</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}

          {{#ionItem path="ssfhealth" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Health Services</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}

          {{#ionItem path="ssflibrary" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Library</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}

          {{#ionItem path="ssfoss" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Office of the Student Services</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}


          {{#ionItem path="ssfradio" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Radio Station</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}


          {{#ionItem path="ssfrecreational" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Recreational Facilities</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}


          {{#ionItem path="ssfresearch" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Research Center</h2>           
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}


          {{#ionItem path="ssfresidence" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Halls and Dormitories</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}


          {{#ionItem path="ssfspeech" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Speech Laboratory</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}

          {{#ionItem path="ssfuniversity" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>University Vehicles</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}

          {{#ionItem path="ssfwifi" iconLeft=true iconRight=true avatar=true}}
            <img src="img/home/facilities.png">
            <h2>Wifi Services</h2>
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}


         
    {{/ionContent}}
  {{/ionView}}
</template>