$positive: #1565C0;
$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.ion-slide {
  text-align: center;
  padding-top: 200px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}

.popover {
  height: auto;
}

.item-button-left, .item-button-right {
  button {
    top: 16px !important;
  }
}



.scroll{
  height:100% !important
}



.item-toggle{
  pointer-events:initial !important;
}




.menu .bar.bar-header.expanded {
    background-image: url("img/images/6.png");
    background-size: 120%;
    background-position: 0%;
    transition: all .5s ease-in-out;
}

.no-padding {
    padding: 0px !important;
}

.logo-text-body { text-align: center;}


.map-container {
  width: 100%;
  max-width: 100%;
  height: 100%;
}












